src/main/mule/mule-grapql-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:graphql="http://www.mulesoft.org/schema/mule/graphql"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/graphql http://www.mulesoft.org/schema/mule/graphql/current/mule-graphql.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c4c0466f-cdc2-4d11-8301-75c8ff5aa927" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<graphql:config name="Graphql_Config" doc:name="Graphql Config" doc:id="8d447eb6-5df9-497f-af22-1c8884af3aad" configName="myConfig" schemaLocation="schema/schema.graphqls"/>
	<flow name="mule-grapql-demoFlow2" doc:id="095cc5fc-d661-472d-8b70-0ad43c60c3ee" >
		<http:listener doc:name="Listener" doc:id="cd35c338-a795-4a9e-8c0b-800a7b9ccae6" config-ref="HTTP_Listener_config" path="/"/>
		<http:load-static-resource doc:name="Load static resource" doc:id="fecd4ca0-9911-4f68-85bb-42e38ef437b3" resourceBasePath="${app.home}/index.html"/>
	</flow>
	<flow name="mule-grapql-demoFlow" doc:id="f38ac665-9607-4a86-907d-7a918a11aa6a" >
		<http:listener doc:name="Listener" doc:id="5ea23ab6-082d-41b7-bee0-67a257c701f6" config-ref="HTTP_Listener_config" path="/graphql"/>
		<graphql:router doc:name="Router" doc:id="535b1555-7bc3-4b32-bf1f-5bc60b5da97e" config-ref="Graphql_Config" payload="#[payload]"/>
	</flow>
	<flow name="mule-grapql-demoFlow3" doc:id="e91cf673-b693-46f7-ad80-906e143bb3e6" >
		<graphql:graphql-field-resolver doc:name="Graphql field resolver" doc:id="f0bb22f3-5ae4-4b30-9364-cb9f80868964" config-ref="Graphql_Config" fieldName="users"/>
		<scripting:execute engine="groovy" doc:name="Execute" doc:id="e03e724a-486a-46f7-8a8d-116bf70a5a3d" target="params" targetValue="#[payload.params]" >
			<scripting:code >payload = ['params' : attributes.getArguments() , 'fields' : attributes.getSource()]</scripting:code>
		</scripting:execute>
		<file:read doc:name="Read" doc:id="18aaba9a-4bef-473a-9c7c-eda50210a67b" path="${app.home}/MOCK_DATA.json" />
		<choice doc:name="Choice" doc:id="74c8c116-92a5-4a10-9640-b790259c05b0" >
			<when expression="#[vars.params.gender != null]">
				<set-payload value="#[%dw 2.0
output application/java
---
(payload filter ($.gender == vars.params.gender))]" doc:name="Set Payload" doc:id="011ac5ca-377d-4eba-9e6d-d3410185dfa9" />
			</when>
			<otherwise >
				<set-payload value="#[%dw 2.0
output application/java
---
payload]" doc:name="Set Payload" doc:id="feff574a-01b5-4610-81fb-30d382d5128e" />
			</otherwise>
		</choice>
	</flow>
	<flow name="mule-grapql-demoFlow1" doc:id="d370212c-2d8b-4752-8ee9-e9d84a7a893a" >
		<graphql:graphql-field-resolver doc:name="Graphql field resolver" doc:id="57253537-6727-40c6-a365-f49fe107dbdf" config-ref="Graphql_Config" fieldName="user"/>
		<scripting:execute engine="groovy" doc:name="Execute" doc:id="02e75012-861d-48c7-a5a6-45731b11189a" target="params" targetValue="#[payload.params]">
			<scripting:code >payload = ['params' : attributes.getArguments() , 'fields' : attributes.getSource()]</scripting:code>
		</scripting:execute>
		<file:read doc:name="Read" doc:id="d3d081dd-8a51-45a4-8497-ae10ebd9b55b" path="${app.home}/MOCK_DATA.json" />
		<set-payload value="#[%dw 2.0
output application/java
---
(payload filter ($.id == vars.params.id as Number))]" doc:name="Set Payload" doc:id="1d3fad9e-9acb-44ef-adf5-02187a115262" />
	</flow>
</mule>
